body{
  
  font-family: 'Poppins', sans-serif;
}

.registercard{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: 500px;
  border: 2px solid;
  border-radius: 30px;
  
}
.registerheader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35%;
  font-family: 'Bebas Neue', cursive;
  
}
.registerbody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  
}
.registerinput{
  margin-bottom: 15px;
  height: 25px;
  font-size: large;
  width: 400px;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  

}
.registersubmit{
  width: 400px;
  height: 36px;
  background-color:rgb(15, 50, 86);
  color: white;
  font-size: large;
  cursor: pointer;
}
.registerfooter{
  display:flex ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
  
  
}
.logincard{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: 500px;
  border: 2px solid;
  border-radius: 30px;
}
.loginheader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35%;
  font-family: 'Bebas Neue', cursive;
  
}
.loginbody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  
}
.logininput{
  margin-bottom: 15px;
  height: 25px;
  font-size: large;
  width: 400px;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  

}
.loginsubmit{
  width: 400px;
  height: 36px;
  background-color:rgb(15, 50, 86);
  color: white;
  font-size: large;
  cursor: pointer;
}
.registerfooter{
  display:flex ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.home{
  background-color:rgb(171, 155, 192) ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homecontainer{
  
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
.sidebar{
  flex: 1;
  border-right: 1px solid black  ;
  background-color: rgb(32, 27, 58);
}
.navbar{
  color: white;
  display: flex;
  align-items: center;
  background-color: black;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
}
.user{
  display: flex;
  gap: 10px;
}
.logo{
  font-weight: bold;
  
}
.navbutton{
  background-color:rgb(171, 155, 192) ;
  border: none;
  cursor: pointer;
}
.chat{
  flex: 2;
}
.chatinfo{
  height: 50px;
  background-color:rgb(32, 27, 58);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.search{
  border-bottom: 1px solid gray;

}
.userchat{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  
  
}

.userchatinfo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.userchat:hover{
  background-color: black;
}
.chatsmessage{

  font-size: 14px;
  color: lightgray;
}
.searchinput{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
.messages{
  background-color:rgb(249, 228, 247);
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}
.message{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.messageinfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.messagecontent{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 10px 10px 10px;


}
.inputs{
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputtext{
  width: 100%;
  border: none;
  outline: none;
  font-size: larger;
}
.inputsend{
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color:rgb(148, 60, 247) ;
}
